/**
 * Backend language switcher
 *
 * @author John J. Camilleri
 * @version 0.1
 */
#nav li.backend_language_switcher {
	padding: 10px 7px;
	height: 10px;
	background: url("/symphony/assets/images/navigation.png") repeat-x scroll 0 -65px;
}
#nav li.backend_language_switcher.first { margin-left: 30px; }
#nav li.backend_language_switcher.selected { background-position: 0 -30px; }
#nav li.backend_language_switcher:hover { background-position: 0 0; }
#nav li.backend_language_switcher img { }